
  .container{
     height: 200px;
  }
  .box1{
    background: red;
  }
    .box2{
    background: green;
  }
    .box3{
    background: blue;
  }
    .box4{
    background: tomato;
  }

  img {
     
      height: 300px
  }